:root {
  --primary-color: #191645;
  --secondary-color: #43c6ac;
  --third-color: #e5e5e5;
  --text-white: #fff;
  --text-black: #000;
}

footer {
  background-color: var(--primary-color);
  padding: 30px 0;
  text-align: center;
  color: white;
  font-family: JetBrains Mono, "Poppins", Verdana, sans-serif;
  text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: var(--text-white);
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: var(--text-white);
    transition: 0.5s;
}

.footer .row a:hover{
    color: var(--secondary-color);
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width: 720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}